{% extends 'base.html' %}

{% block body %}
{% for msg in messages %}
{{ msg }}
{% endfor %}
<form method="post" action="/signin/">{% csrf_token %}
  <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">@</span>
  <input type="text"  name="uname" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="upass" type="password" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/">login.</a>
</form>
{% endblock %}